<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="emailsender" value="sandwichtavisca@gmail.com"/>
    <add key="emailreceiver" value="sdalvi@tavisca.com"/>
    <add key="NewEntryBody" value="Hello, new Entry added to referral drive."/>
    <add key="NewEntrySubject" value="New Entry Added"/>
    <add key="modifiedstatussender" value="athorat@tavisca.com"/>
    <add key="modifiedstatusemailbody" value="your status is been changed to '"/>
    <add key="modifiedstatusemailsubject" value="updated Status of your application"/>
    <add key="selectSql" value="DataAccessLayer.SQLReadWrite,DataAccessLayer"/>


  </appSettings>
  <connectionStrings>
    <add name="TaviscaSandwichConnectionString"
      connectionString="Data Source=SPIRIT\SQLEXPRESS;Initial Catalog=TaviscaSandwich;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>