<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TaviscaSandwichConnectionString"
      connectionString="Data Source=SPIRIT\SQLEXPRESS;Initial Catalog=TaviscaSandwich;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true" />
</configuration>

